.container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  padding: 50px;
  font-size: 24px;
}

.button {
  width: 100px;
  height: 30px;
  border-radius: 5%;
  cursor: pointer;
  border: none;
}

.button:focus {
  outline: none;
}

.main-button {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  font-size: 52px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}

.start {
  background-color: green;
}
