<div class="container">
  <div class="main">
    <h1>Lets play, {{ name }}!</h1>
    <p>Time: {{ gameTime }}</p>

    <div *ngIf="isVisibleStartButton; else clickButton">
      <div class="button-container">
        <button (click)="startTimer()" class="button main-button start">
          Start
        </button>
      </div>
    </div>

    <ng-template #clickButton>
      <div class="button-container">
        <button
          (click)="addClick()"
          class="button main-button"
          [style]="backgroundColor"
        >
          Click
        </button>
      </div>
    </ng-template>

    <p>Clicks: {{ countClick }}</p>
  </div>
</div>
